apiVersion: v1
kind: Service
metadata:
  name: postgres-service
spec:
  selector:
    app: postgres
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432
  type: ClusterIP
  # env: 
  #    - name: ConnectionStrings__Default
  #      value: "Host=postgres;Port=5432;Database=MaintenanceManager;Username=postgres;Password=4444"  