apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres #- THE IMPORTANT ONE - used for matching
    spec:
      containers:
      - name: postgres
        image: postgres:16
        ports:
        - containerPort: 5432
        env: 
        - name: POSTGRES_USER
          value: postgres
        - name: POSTGRES_PASSWORD
          value: "4444" #should be moved to the secret file 
        - name: POSTGRES_DB 
          value: MaintenanceManager 
